@import './variables.scss';
.render-vmform ::v-deep .enable
{
	.uni-easyinput__content, .uni-select--disabled{
	   background-color: white!important;
	   color: $color!important;
	}
	
	.uni-input-input, 
	.uni-textarea-textarea,
	.uni-select__input-text,
	.uni-numbox__value,
	.uni-data-tree,
	.uni-data-tree .input-value .text-color{
		color: $color!important;
	}	
}

.render-vmform ::v-deep .fieldReadonly
{
	.uni-easyinput__content, .uni-select--disabled{
	   background-color: white !important;
	   color: $readonly-color!important;
	}
	
	.switch-wrapper,.slider-wrapper,
	.uni-switch-input,
	.uni-rate,
	.uni-slider-tap-area{
		opacity: 0.4;
	}
	
	.uni-input-input, 
	.uni-textarea-textarea,
	.uni-select__input-text,
	.uni-numbox__value,
	.uni-data-tree,
	.uni-data-tree .input-value .text-color{
		color: $readonly-color!important;
	}	
}

.render-vmform ::v-deep .fieldDisabled
{
	.uni-easyinput__content, .uni-select--disabled {
		background-color: $field-disable-background !important;
		color: $readonly-color!important;
	}
	
	.switch-wrapper,
	.slider-wrapper,
	.uni-switch-input,
	.uni-rate,
	.uni-slider-tap-area{
		opacity: 0.3;
	}
	
	.uni-input-input, 
	.uni-textarea-textarea,
	.uni-select__input-text,
	.uni-numbox__value,
	.uni-data-tree,
	.uni-data-tree .input-value .text-color{
		color: $readonly-color!important;
	}			
}

.render-vmform
 {
	// 去边框
   ::v-deep .uni-forms-item__content .no-border{
	   .uni-select{
			border:none 0px!important
	   }	   
   }
   
   ::v-deep .uni-data-checklist,
   ::v-deep .uni-easyinput__content-textarea,
   ::v-deep .uni-numbox{
	   padding-left:10px;
   }
   
}


::v-deep .uni-forms-item__content .is-focus .input-value-border,
::v-deep .uni-forms-item__content .is-focus .uni-easyinput__content,
::v-deep .uni-forms-item__content .is-focus .uni-numbox__value,
::v-deep .uni-forms-item__content .is-focus .uni-select,
::v-deep .uni-forms-item__content .is-focus .radio__inner,
::v-deep .uni-forms-item__content .is-focus .checkbox__inner,
::v-deep .uni-forms-item__content .is-focus .uni-switch-input,
::v-deep .uni-forms-item__content .is-focus .uni-date-editor--x,
::v-deep .uni-forms-item__content .is-focus .fj-touch-left,
::v-deep .uni-forms-item__content .is-focus .fj-touch-right,
::v-deep .uni-forms-item__content .is-focus .uni-slider-thumb
{
    border: solid 1px #2979FF!important;
}


.render-vmform.is-focus .uni-forms-item__label{
    color: #2979FF!important;
	height:auto;
}

.render-vmform ::v-deep .enable {
	::v-deep .uni-easyinput__content{
		background-color: #ffffff !important;
		color: #333333 !important;		
	}
}


.render-vmform ::v-deep .field {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	
	.uni-icons {
		font-family: uniicons;
		text-decoration: none;
		width: 40rpx;

		color: rgb(192, 196, 204);
		font-size: 24px;
		height: 48rpx;
		line-height: 48rpx;
		z-index: 2;
		flex-shrink: 0;
		text-align:center;

		&.uniui-clear:before {
			content: "\e66d";
		}
		&.uniui-forward:before{
			content: "\e6ba";
		}
	}
	
	.content-clear-icon{
		padding: 0 0px!important;
	}

	&.border{
		border: solid 1px #E5E5E5;
		.uni-icons{
			margin-right: 10rpx;
			margin-left: 10rpx;
		}
	}

	.uni-easyinput__content-input{
		padding-right: 10rpx!important;
	}
}

.render-vmform ::v-deep.input-align-left{
	justify-content: flex-start;
	input,textarea,.checklist-group{
		text-align: left;
		justify-content: flex-start;
	}
}
.render-vmform ::v-deep.input-align-right{
	justify-content: flex-end;
	input,textarea,.checklist-group{
		text-align: right;
		justify-content: flex-end;
	}
}
.render-vmform ::v-deep.input-align-center {
	justify-content: center;
	input,textarea,.checklist-group{
		text-align: center;
		justify-content: center;
	}
}

.subform-title {
  position: relative;
  color:orange;
  font-weight: bolder;
}

