$field-disable-background: #F7F6F6;  
$field-disable-background-deep: #d0cfcf;  
$color:#000000;
$readonly-color: #d5d5d5;


$border-color: #f9f9f9;;
$border: 1rpx solid $border-color;
$primary-color: #fbd661;